# make_unified_metadata

In [1]:
import pandas as pd

In [2]:
main = pd.read_csv('lastnamesample.tsv', sep = '\t')
main.head()

,docid,oldauthor,author,authordate,inferreddate,latestcomp,datetype,startdate,enddate,imprint,...,copiesin25yrs,enumcron,volnum,title,parttitle,earlyedition,shorttitle,eligible,position,lastname
0,hvd.hwtqwj,NaN,NaN,NaN,1800,1800,s,1800,,Shrewsbury;Printed by J. and W. Eddowes for T....,...,1,NaN,NaN,"Tales, anecdotes, and letters / | $c: Translat...",NaN,True,"Tales, anecdotes, and letters",True,0,anonymous
1,nyp.33433075724116,"Schiller, Friedrich","Schiller, Friedrich",1759-1805.,1800,1800,s,1800,,London;C. Wittington;1800.,...,4,v. 3,3.0,"The Armenian; or, The ghost seer ... | $c: tra...",NaN,True,"The Armenian; or, The ghost seer",True,1,Schiller
2,nyp.33433075724090,"Schiller, Friedrich","Schiller, Friedrich",1759-1805.,1800,1800,s,1800,,London;C. Wittington;1800.,...,4,v. 1,1.0,"The Armenian; or, The ghost seer ... | $c: tra...",NaN,True,"The Armenian; or, The ghost seer",True,2,Schiller
3,uiuo.ark+=13960=t8pc3pr08,Fuller,Fuller,NaN,1800,1800,s,1800,,London;Printed for G.G. and J. Robinson;1800.,...,2,v.2,2.0,The son of Ethelwolf,NaN,True,The son of Ethelwolf,True,3,Fuller
4,uiuo.ark+=13960=t9572451c,Croffts,Croffts,NaN,1800,1800,s,1800,,"London;Printed at the Minerva=Press, for Willi...",...,4,v.1,1.0,Ankerwick Castle,NaN,True,Ankerwick Castle,True,4,Croffts

In [3]:
supp = pd.read_csv('../supplement1/lastnamesupp1meta.tsv', sep = '\t')
supp.head()

,docid,earliestdate,actualdate,tags,author,title,gender,nationality,authsvols,lastname
0,uc2.ark+=13960=t55d8p14j,1843,1854.0,vulgar,"Stephens, Ann S",High life in New York,f,us,47.0,Stephens
1,nyp.33433075741789,1845,1852.0,vulgar,"Reynolds, George W. M",The mysteries of the court of London,m,uk,61.0,Reynolds
2,uc1.b249620,1848,1853.0,vulgar,"Peppergrass, Paul","Shandy M'Guire, or, Tricks upon travellers : b...",m,ir,4.0,Peppergrass
3,njp.32101073308494,1849,1852.0,vulgar,"Manning, Anne","The maiden & married life of Mary Powell, afte...",f,uk,66.0,Manning
4,uc2.ark+=13960=t4wh2fh9b,1850,1850.0,vulgar,"Leighton, John",Christmas comes but once a year,m,uk,2.0,Leighton

Let's reduce both data frames to their shared columns:

*docid, author, title, lastname, earliestdate,* and *actualdate*

In **main**, *inferreddate* will be taken as evidence of both *earliestdate* and *actualdate.*

In [5]:
newmain = main[['docid', 'author', 'lastname', 'inferreddate', 'title']]
newmain = newmain.rename(index = str, columns = {'inferreddate': 'actualdate'})
newmain = newmain.assign(earliestdate = newmain.actualdate)
newmain.head()

,docid,author,lastname,actualdate,title,earliestdate
0,hvd.hwtqwj,NaN,anonymous,1800,"Tales, anecdotes, and letters / | $c: Translat...",1800
1,nyp.33433075724116,"Schiller, Friedrich",Schiller,1800,"The Armenian; or, The ghost seer ... | $c: tra...",1800
2,nyp.33433075724090,"Schiller, Friedrich",Schiller,1800,"The Armenian; or, The ghost seer ... | $c: tra...",1800
3,uiuo.ark+=13960=t8pc3pr08,Fuller,Fuller,1800,The son of Ethelwolf,1800
4,uiuo.ark+=13960=t9572451c,Croffts,Croffts,1800,Ankerwick Castle,1800

In [7]:
newsupp = supp[['docid', 'author', 'lastname', 'actualdate', 'earliestdate', 'title']]
newsupp.head()

,docid,author,lastname,actualdate,earliestdate,title
0,uc2.ark+=13960=t55d8p14j,"Stephens, Ann S",Stephens,1854.0,1843,High life in New York
1,nyp.33433075741789,"Reynolds, George W. M",Reynolds,1852.0,1845,The mysteries of the court of London
2,uc1.b249620,"Peppergrass, Paul",Peppergrass,1853.0,1848,"Shandy M'Guire, or, Tricks upon travellers : b..."
3,njp.32101073308494,"Manning, Anne",Manning,1852.0,1849,"The maiden & married life of Mary Powell, afte..."
4,uc2.ark+=13960=t4wh2fh9b,"Leighton, John",Leighton,1850.0,1850,Christmas comes but once a year

In [8]:
unified = pd.concat([newmain, newsupp], verify_integrity = True)
print(unified.shape)
unified.head()

(39846, 6)

,actualdate,author,docid,earliestdate,lastname,title
0,1800.0,NaN,hvd.hwtqwj,1800,anonymous,"Tales, anecdotes, and letters / | $c: Translat..."
1,1800.0,"Schiller, Friedrich",nyp.33433075724116,1800,Schiller,"The Armenian; or, The ghost seer ... | $c: tra..."
2,1800.0,"Schiller, Friedrich",nyp.33433075724090,1800,Schiller,"The Armenian; or, The ghost seer ... | $c: tra..."
3,1800.0,Fuller,uiuo.ark+=13960=t8pc3pr08,1800,Fuller,The son of Ethelwolf
4,1800.0,Croffts,uiuo.ark+=13960=t9572451c,1800,Croffts,Ankerwick Castle

In [10]:
unified.drop_duplicates(subset = ['docid'], inplace = True)
unified.shape

(39456, 6)

In [11]:
unified = unified[['docid', 'author', 'lastname', 'actualdate', 'earliestdate', 'title']]

In [12]:
unified.to_csv('unifiedsample.tsv', sep = '\t', index = False)