# Merge for second supplement

So, I've got metadata tables listing books that will
supplement the central, random sample in a variety of ways.

I need to merge those tables into a single master list that
has all the information we need for further analysis.

In theory this could be done with joins, but it would end
up being opaque both to me and to readers. Better in this
case, I think, to spell everything out with procedural
explicitness.

In [73]:
import pandas as pd
from difflib import SequenceMatcher

In [2]:
work = pd.read_csv('../../noveltmmeta/workmeta.tsv', sep = '\t', low_memory = False, index_col = 'docid')
work.columns.tolist()

['oldauthor',
 'author',
 'authordate',
 'inferreddate',
 'latestcomp',
 'datetype',
 'startdate',
 'enddate',
 'imprint',
 'imprintdate',
 'contents',
 'genres',
 'subjects',
 'geographics',
 'locnum',
 'oclc',
 'place',
 'recordid',
 'instances',
 'allcopiesofwork',
 'copiesin25yrs',
 'enumcron',
 'volnum',
 'title',
 'parttitle',
 'earlyedition',
 'shorttitle']

In [3]:
best = pd.read_csv('bestsellers/deduplicated_bestsellers.tsv', sep = '\t')

In [4]:
matched = pd.read_csv('canon/fuzzy_matched_canon.tsv', sep = '\t')

In [7]:
firstsample = pd.read_csv('../supplement1/lastnamesupp1meta.tsv', sep = '\t')

In [48]:
master = pd.read_csv('../../noveltmmeta/masterficmetadata.tsv', sep = '\t', low_memory = False, index_col = 'docid')

### Desired columns

    docid
    author
    title -- will be equiv to workmeta "shorttitle"
    inferreddate (workmeta)
    latestcomp (workmeta -- this will be used for processing, and must be filled out)
    firstpub (a step beyond latestcomp to true firstpub; we won't have for all rows)
    allcopiesofwork
    copiesin25yrs
    gender
    nationality
    earlyedition
    lastname
    imprint
    
In addition to general metadata, there will be several columns that define reasons for selection. Since the same volume can be selected for more than one reason, it's possible to have "True" in more than one of these columns.

    heath
    norton
    nortonshort
    bestseller
    mostdiscussed
    reviewed
    contrast4reviewed
    preregistered

In [55]:
newdata = dict()

In [56]:
for idx, row in firstsample.iterrows():
    r = dict()
    r['docid'] = row['docid']
    r['author'] = row['author']
    r['title'] = row['title']
    r['inferreddate'] = row['actualdate']
    r['latestcomp'] = row['earliestdate']
    r['firstpub'] = row['earliestdate']
    r['allcopiesofwork'] = float('nan')
    r['copiesin25yrs'] = float('nan')
    r['gender'] = row['gender']
    r['nationality'] = row['nationality']
    r['earlyedition'] = float('nan')
    r['lastname'] = row['lastname']
    r['imprint'] = float('nan')
    
    if row['tags'] == 'vulgar':
        r['contrast4reviewed'] = True
        r['reviewed'] = False
        r['preregistered'] = False
    elif row['tags'] == 'elite':
        r['contrast4reviewed'] = False
        r['reviewed'] = True
        r['preregistered'] = False
    elif row['tags'] == 'special':
        r['preregistered'] = True
        r['reviewed'] = False
        r['contrast4reviewed'] = False
    else:
        continue
    
    for col in ['mostdiscussed', 'bestseller', 'nortonshort', 'norton', 'heath']:
        r[col] = False
        # for now! this could be revised later
    
    newdata[r['docid']] = r

In [57]:
for idx, row in best.iterrows():
    docid = row['docid']
    if docid in newdata:
        r = newdata[docid]
        r['imprint'] = row['imprint']
        
        if pd.isnull(row['firstpub']):
            firstpub = float('nan')
        else:
            firstpub = int(row['firstpub'])
            
        if firstpub < int(r['latestcomp']):
            r['latestcomp'] = row['firstpub']
        
    else:
        r = dict()
        r['docid'] = row['docid']
        r['author'] = row['author']
        r['title'] = row['title']
        r['inferreddate'] = row['inferreddate']
        r['latestcomp'] = row['firstpub']
        r['firstpub'] = row['firstpub']
        r['allcopiesofwork'] = float('nan')
        r['copiesin25yrs'] = float('nan')
        r['gender'] = row['gender']
        r['nationality'] = row['nationality']
        r['earlyedition'] = float('nan')
        r['lastname'] = float('nan')
        r['imprint'] = float('nan')
        for col in ['mostdiscussed', 'nortonshort', 'norton', 'heath', 'preregistered', 
                    'reviewed', 'contrast4reviewed', 'bestseller']:
            r[col] = False
    
    r['bestseller'] = True
    newdata[docid] = r

In [58]:
obligatecols = ['docid', 'author', 'title', 'inferreddate', 'latestcomp', 'firstpub', 
                'allcopiesofwork', 'copiesin25yrs', 'gender', 'nationality', 'earlyedition',
               'lastname', 'imprint']
tfcols = ['norton', 'heath', 'nortonshort', 'mostdiscussed', 'preregistered', 'reviewed', 'contrast4reviewed', 'bestseller']

In [59]:
for idx, row in matched.iterrows():
    r = dict()
    r['docid'] = row['docid']
    r['author'] = row['author']
    r['title'] = row['shorttitle']
    r['inferreddate'] = row['inferreddate']
    r['latestcomp'] = row['latestcomp']
    r['firstpub'] = float('nan')
    r['allcopiesofwork'] = row['allcopiesofwork']
    r['copiesin25yrs'] = row['copiesin25yrs']
    r['gender'] = float('nan')
    r['nationality'] = float('nan')
    r['earlyedition'] = row['earlyedition']
    r['lastname'] = float('nan')
    r['imprint'] = row['imprint']
    r['norton'] = row['norton']
    r['heath'] = row['heath']
    r['nortonshort'] = row['nortonshort']
    r['mostdiscussed'] = False
    r['preregistered'] = False
    r['reviewed'] = False
    r['contrast4reviewed'] = False
    r['bestseller'] = False

    if r['docid'] in newdata:
        toupdate = newdata[r['docid']]
        
        for col in obligatecols:
            if pd.isnull(toupdate[col]) and not pd.isnull(r[col]):
                toupdate[col] = r[col]
                print(toupdate[col])
        
        for col in tfcols:
            if toupdate[col] == False and r[col] == True:
                toupdate[col] = True
        
        newdata[r['docid']] = toupdate
    
    else:
        newdata[r['docid']] = r

18
2
True
25
4
True
Boston;Ticknor and Field;1866.
1885
31
4
True
New York;C. L. Webster and company;1885.
1906
8
2
True
New York;Doubleday, Page & Company;1906.
1912
2
2
True
Boston;New York;Houghton Mifflin Co.;1912.
1917
7
3
True
New York;Grosset & Dunlap;c1917.
1939
11
6
True
New York|The Viking press|c1939
1952
5
2
True
New York|Random House|1952

In [60]:
len(newdata)

2121

In [62]:
correx = 0
caught = 0

for docid, row in newdata.items():
    if pd.isnull(row['lastname']):
        if pd.isnull(row['author']):
            row['lastname'] == 'anon'
        else:
            names = row['author'].split()
            lastname = names[0].strip('()[],.')
            row['lastname'] = lastname
            
    if docid in work.index:
        refrow = work.loc[docid, : ]
        for col in obligatecols:
            if col in {'firstpub', 'gender', 'nationality', 'lastname'}:
                continue
                
            if pd.isnull(row[col]) and not pd.isnull(refrow[col]):
                row[col] = refrow[col]
                correx += 1
    else:
        if docid in master.index and pd.isnull(row['imprint']):
            row['imprint'] = master.loc[docid, 'imprint']
            caught += 1
            
print(correx)
print(caught)

6307
455

In [63]:
aslist = []
for key, value in newdata.items():
    aslist.append(value)
newdf = pd.DataFrame(aslist)
newdf.head()

,allcopiesofwork,author,bestseller,contrast4reviewed,copiesin25yrs,docid,earlyedition,firstpub,gender,heath,...,inferreddate,lastname,latestcomp,mostdiscussed,nationality,norton,nortonshort,preregistered,reviewed,title
0,3.0,"Hough, Emerson,",True,False,3.0,mdp.39015063923869,True,1909.0,NaN,False,...,1909.0,Hough,1909.0,False,NaN,False,False,False,False,54-40 or fight
1,27.0,"Cooper, James Fenimore",False,False,3.0,uc1.b3321331,True,NaN,NaN,False,...,1856.0,Cooper,1851.0,False,NaN,True,False,False,False,The last of the Mohicans : a narrative of 1757
2,1.0,anonymous6,False,False,1.0,uc1.32106006691585,True,1902.0,f,False,...,1902.0,anonymous6,1902.0,False,ir,False,False,False,True,Cuchulain of Muirthemne
3,NaN,"Scott, Walter,",True,False,NaN,nyp.33433075743603,NaN,1818.0,m,False,...,1824.0,Scott,1818.0,False,uk,False,False,False,False,Rob Roy
4,NaN,"Williams, Ben Ames",False,False,NaN,mdp.39015030719481,NaN,1944.0,m,False,...,1944.0,Williams,1944.0,False,us,False,False,False,True,Leave Her to Heaven

In [64]:
cols = list(obligatecols)
cols.extend(tfcols)
newdf = newdf[cols]
newdf.to_csv('second_supplement.tsv', sep = '\t', index = False)

In [65]:
sum(newdf.bestseller)

849

In [66]:
sum(newdf.reviewed)

600

In [68]:
sum(newdf.heath)

46

### Add most-discussed volumes

In [69]:
discussed = pd.read_csv('canon/most_discussed.tsv', sep = '\t')

In [70]:
discussed.head()

  docid            author                  title
0   NaN      James, Henry           The American
1     X      James, Henry  The Turn of the Screw
2   NaN      James, Henry     Portrait of a Lady
3   NaN  Melville, Herman              Moby Dick
4     X    Morrison, Toni                Beloved

In [71]:
def blockcode(aname):
    if pd.isnull(aname):
        block = 'xx'
    elif len(aname) < 3:
        block = 'nn'
    else:
        block = aname.lower()[0:2]
    
    return block

work = work.assign(block = work.author.map(blockcode))

byblock = work.groupby('block')
block_dictionary = dict()

for code, df in byblock:
    block_dictionary[code] = df

In [76]:
def interpret_tag(volnum):
    try:
        volnum = int(volnum)
    except:
        volnum = 1
        print('error in source')
        
    if volnum == 1:
        return 'norton'
    elif volnum == 2:
        return 'nortonshort'
    elif volnum == 3:
        return 'heath'
    else:
        print('This should never happen.')

def fuzzymatch(str1, str2):
    
    m = SequenceMatcher(None, str1, str2)
    match = m.real_quick_ratio()
    if match > 0.7:
        match = m.ratio()
    
    return match

allmatches = []

for idx, row in discussed.iterrows():
    if pd.isnull(row['docid']):
        continue
        
    normname = row['author'].lower()
    
    title = row['title'].lower()
    if len(title) > 28:
        title = title[0:28]
    code = normname[0:2]
    
    possiblematches = []
    
    if code in block_dictionary:
        block = block_dictionary[code]
        for idx2, row2 in block.iterrows():
            auth2match = row2['author'].lower()
            if '(' in auth2match:
                auth2match = auth2match.split('(')[0]
            authsimilarity = fuzzymatch(normname, auth2match)
            if authsimilarity < 0.74: 
                continue
            
            title2match = row2['shorttitle']
            if pd.isnull(title2match):
                title2match = 'x x x'
            else:
                title2match = title2match.lower()
                if len(title2match) > 28:
                    title2match = title2match[0:28]
                
            titlesimilarity = fuzzymatch(title, title2match)
            if titlesimilarity > 0.7:
                possiblematches.append((authsimilarity * titlesimilarity, idx2))

    if len(possiblematches) > 0:
        possiblematches.sort()
        probability, matchidx = possiblematches[-1]
        
        print(normname, ' | ', title, block.loc[matchidx, 'author'], ' == ', block.loc[matchidx, 'shorttitle'])
        allmatches.append(matchidx)
    else:
        print(normname, ' || ', title, "NO MATCH")

james, henry  |  the turn of the screw James, Henry  ==  The turn of the screw : and other stories
morrison, toni  |  beloved Morrison, Toni  ==  Love
morrison, toni  |  sula Morrison, Toni  ==  Sula
james, henry  |  ambassadors James, Henry  ==  The ambassadors
nabokov, vladimir  ||  ada NO MATCH
james, henry  |  wings of the dove James, Henry  ==  The wings of the dove
stowe, harriet beecher  |  dred Stowe, Harriet Beecher  ==  Dred
james, henry  |  golden bowl James, Henry  ==  The golden bowl
faulkner, william  |  sanctuary Faulkner, William  ==  Sanctuary
morrison, toni  |  jazz Morrison, Toni  ==  Jazz
melville, herman  ||  confidence man NO MATCH
hurston, zora neale  |  their eyes were watching god Hurston, Zora Neale  ==  Their eyes were watching God; a novel
hawthorne, nathaniel  |  the house of the seven gable Hawthorne, Nathaniel  ==  The house of the seven gables : and The snow image and other Twice-told tales--
hawthorne, nathaniel  |  the blithedale romance Hawthorne, Nathaniel  ==  The Blithedale romance
melville, herman  ||  billy budd NO MATCH
faulkner, william  |  the sound and the fury Faulkner, William  ==  The sound and the fury
james, henry  |  the bostonians James, Henry  ==  The Bostonians;
wright, richard  ||  black boy NO MATCH
faulkner, william  |  absalom, absalom Faulkner, William  ==  Absalom, absalom!

In [77]:
allmatches

['pst.000029895397',
 'mdp.39015059959802',
 'mdp.39015043798431',
 'coo.31924052984741',
 'uc2.ark+=13960=fk8pc2tq9r',
 'uc1.b3325140',
 'uva.x000926858',
 'inu.30000048939361',
 'uc1.32106016923267',
 'uc1.32106007902726',
 'uva.x030497933',
 'nyp.33433076087844',
 'mdp.39015046349141',
 'uc2.ark+=13960=t5j96177f',
 'mdp.39015040129580']

In [79]:
takecols = ['author', 'shorttitle', 'inferreddate', 'latestcomp',
                'allcopiesofwork', 'copiesin25yrs', 'earlyedition', 'imprint']
discussdf = work.loc[allmatches, takecols]
discussdf.head()

,author,shorttitle,inferreddate,latestcomp,allcopiesofwork,copiesin25yrs,earlyedition,imprint
docid,,,,,,,,
pst.000029895397,"James, Henry",The turn of the screw : and other stories,1969,1916,1,1,False,Harmondsworth|Penguin|1969.
mdp.39015059959802,"Morrison, Toni",Love,2003,2003,1,1,True,New York|Knopf|Distributed by Random House|c2003.
mdp.39015043798431,"Morrison, Toni",Sula,1973,1973,4,3,True,"New York, NY|Plume|c1973."
coo.31924052984741,"James, Henry",The ambassadors,1903,1903,17,5,True,New York and London;Harper & brothers;1903.
uc2.ark+=13960=fk8pc2tq9r,"James, Henry",The wings of the dove,1902,1902,23,16,True,Westminster;A. Constable and co. ltd.;1902.

In [80]:
discussdf['gender'] = float('nan')
discussdf['firstpub'] = float('nan')
discussdf['nationality'] = float('nan')

def get_lastname(aname):
    names = aname.split()
    lastname = names[0].strip(',')
    return lastname

discussdf = discussdf.assign(lastname = discussdf.author.map(get_lastname))
discussdf.head()

,author,shorttitle,inferreddate,latestcomp,allcopiesofwork,copiesin25yrs,earlyedition,imprint,gender,firstpub,nationality,lastname
docid,,,,,,,,,,,,
pst.000029895397,"James, Henry",The turn of the screw : and other stories,1969,1916,1,1,False,Harmondsworth|Penguin|1969.,NaN,NaN,NaN,James
mdp.39015059959802,"Morrison, Toni",Love,2003,2003,1,1,True,New York|Knopf|Distributed by Random House|c2003.,NaN,NaN,NaN,Morrison
mdp.39015043798431,"Morrison, Toni",Sula,1973,1973,4,3,True,"New York, NY|Plume|c1973.",NaN,NaN,NaN,Morrison
coo.31924052984741,"James, Henry",The ambassadors,1903,1903,17,5,True,New York and London;Harper & brothers;1903.,NaN,NaN,NaN,James
uc2.ark+=13960=fk8pc2tq9r,"James, Henry",The wings of the dove,1902,1902,23,16,True,Westminster;A. Constable and co. ltd.;1902.,NaN,NaN,NaN,James

In [81]:
for c in tfcols:
    if c == 'mostdiscussed':
        discussdf[c] = True
    else:
        discussdf[c] = False

In [83]:
discussdf = discussdf.rename(index = str, columns = {'shorttitle': 'title'})
discussdf.head()

,author,title,inferreddate,latestcomp,allcopiesofwork,copiesin25yrs,earlyedition,imprint,gender,firstpub,nationality,lastname,norton,heath,nortonshort,mostdiscussed,preregistered,reviewed,contrast4reviewed,bestseller
docid,,,,,,,,,,,,,,,,,,,,
pst.000029895397,"James, Henry",The turn of the screw : and other stories,1969,1916,1,1,False,Harmondsworth|Penguin|1969.,NaN,NaN,NaN,James,False,False,False,True,False,False,False,False
mdp.39015059959802,"Morrison, Toni",Love,2003,2003,1,1,True,New York|Knopf|Distributed by Random House|c2003.,NaN,NaN,NaN,Morrison,False,False,False,True,False,False,False,False
mdp.39015043798431,"Morrison, Toni",Sula,1973,1973,4,3,True,"New York, NY|Plume|c1973.",NaN,NaN,NaN,Morrison,False,False,False,True,False,False,False,False
coo.31924052984741,"James, Henry",The ambassadors,1903,1903,17,5,True,New York and London;Harper & brothers;1903.,NaN,NaN,NaN,James,False,False,False,True,False,False,False,False
uc2.ark+=13960=fk8pc2tq9r,"James, Henry",The wings of the dove,1902,1902,23,16,True,Westminster;A. Constable and co. ltd.;1902.,NaN,NaN,NaN,James,False,False,False,True,False,False,False,False

In [85]:
newdf = pd.read_csv('second_supplement.tsv', sep = '\t', index_col = 'docid')
print(newdf.shape)
unified = pd.concat([newdf, discussdf])
unified.shape

(2121, 20)

(2136, 20)

In [88]:
unified.reset_index(inplace = True)
unified = unified[cols]
unified.to_csv('second_supplement_full.tsv', sep = '\t', index = False)

In [89]:
therandomsample = pd.read_csv('lastnamesample.tsv', sep = '\t')

In [90]:
overlap = set(unified.docid).intersection(set(therandomsample.docid))
print(len(overlap))

554

In [91]:
toadd = set(unified.docid) - overlap
print(len(toadd))

1582

### Oops, some docids are in the wrong format, which has permitted duplicates to exist

In [117]:
unified.reset_index(inplace = True)
import SonicScrewdriver as utils

In [118]:
for idx in unified.index:
    docid = unified.loc[idx, 'docid']
    unified.loc[idx, 'docid'] = utils.clean_pairtree(docid)
overlap = set(unified.docid).intersection(set(therandomsample.docid))
print(len(overlap))

574

In [119]:
def get_record_id(idx):
    global master
    if idx not in master.index:
        return float('nan')
    else:
        return int(master.loc[idx, 'recordid'])

unified = unified.assign(recordid = unified.docid.map(get_record_id))
sum(pd.isnull(unified.recordid))

58

In [120]:
toadd = set(unified.docid) - overlap
print(len(toadd))

1544

In [121]:
randomblocked = therandomsample.assign(block = therandomsample.author.map(blockcode))

byblock = randomblocked.groupby('block')
block_dictionary = dict()

for code, df in byblock:
    block_dictionary[code] = df

In [129]:
unified.reset_index(inplace = True)

In [130]:
unified.columns

Index(['docid', 'author', 'title', 'inferreddate', 'latestcomp', 'firstpub',
       'allcopiesofwork', 'copiesin25yrs', 'gender', 'nationality',
       'earlyedition', 'lastname', 'imprint', 'norton', 'heath', 'nortonshort',
       'mostdiscussed', 'preregistered', 'reviewed', 'contrast4reviewed',
       'bestseller', 'recordid'],
      dtype='object')

In [139]:
def collapse_duplicates(df):
    obligates = ['docid', 'author', 'title', 'inferreddate', 'latestcomp', 'firstpub',
       'allcopiesofwork', 'copiesin25yrs', 'gender', 'nationality',
       'earlyedition', 'lastname', 'imprint', 'recordid']
    r = dict()
    for o in obligates:
        if o == 'latestcomp':
            r[o] = min(df[o])
        elif o == 'gender' or o == 'nationality' or o == 'firstpub':
            for item in df[o]:
                if not pd.isnull(item):
                    r[o] = item
        else:
            r[o] = df[o].values[0]
    
    tfcols = ['norton', 'heath', 'nortonshort', 'mostdiscussed', 'preregistered', 
              'reviewed', 'contrast4reviewed', 'bestseller']
    
    for o in tfcols:
        if sum(df[o]) > 0:
            r[o] = True
        else:
            r[o] = False
    
    return r

In [141]:
from collections import Counter
doccounts = Counter(unified.docid)
todelete = []
fornewframe = []
ctr = 0
for k, v in doccounts.items():
    ctr += 1
    if ctr % 25 == 1:
        print(ctr)
        
    if v > 1:
        df = unified.loc[unified.docid == k, : ]
        r = collapse_duplicates(df)
        todelete.append(k)
        fornewframe.append(r)

newframe = pd.DataFrame(fornewframe)
print(newframe.shape)
newframe.head()

1
26
51
76
101
126
151
176
201
226
251
276
301
326
351
376
401
426
451
476
501
526
551
576
601
626
651
676
701
726
751
776
801
826
851
876
901
926
951
976
1001
1026
1051
1076
1101
1126
1151
1176
1201
1226
1251
1276
1301
1326
1351
1376
1401
1426
1451
1476
1501
1526
1551
1576
1601
1626
1651
1676
1701
1726
1751
1776
1801
1826
1851
1876
1901
1926
1951
1976
2001
2026
2051
2076
2101
(18, 22)

,allcopiesofwork,author,bestseller,contrast4reviewed,copiesin25yrs,docid,earlyedition,firstpub,gender,heath,...,lastname,latestcomp,mostdiscussed,nationality,norton,nortonshort,preregistered,recordid,reviewed,title
0,NaN,"Larsen, Nella",False,False,NaN,"miun.aat2524,0001,001",NaN,1929.0,m,True,...,Larsen,1929.0,False,us,False,False,False,NaN,True,Passing
1,2.0,"Rinehart, Mary Roberts",True,False,2.0,uc2.ark+=13960=t2g737p22,True,1910.0,NaN,False,...,Rinehart,1910.0,False,NaN,False,False,False,7671087.0,False,The window at the White Cat
2,NaN,"Rice, Alice Caldwell Hegan,",True,False,NaN,uc2.ark+=13960=t4sj1bv84,NaN,1903.0,NaN,False,...,Rice,1903.0,False,NaN,False,False,False,6498811.0,False,Lovey Mary
3,3.0,"McCutcheon, George Barr",True,False,3.0,uc2.ark+=13960=t7br8n136,True,1904.0,NaN,False,...,McCutcheon,1904.0,False,NaN,False,False,False,7645990.0,False,Beverly of Graustark
4,1.0,"Vance, Louis Joseph",True,False,1.0,uc2.ark+=13960=t9q23sh58,True,1907.0,NaN,False,...,Vance,1907.0,False,NaN,False,False,False,6541658.0,False,The brass bowl

In [143]:
print(unified.shape)
newunified = unified[~unified.docid.isin(todelete)]
newunified.shape

(2136, 22)

(2100, 22)

In [144]:
unified = pd.concat([newunified, newframe])
unified.shape

(2118, 22)

Got rid of 18 duplicates.

### Now for the problem that some of our volumes are included as titles in the random sample, although not exactly the same docid

In [148]:
unified.reset_index(inplace = True)

In [149]:
for idx in unified.index:
    docid = unified.loc[idx, 'docid']
    unified.loc[idx, 'docid'] = utils.clean_pairtree(docid)
overlap = set(unified.docid).intersection(set(therandomsample.docid))
print(len(overlap))

574

In [151]:
toadd = set(unified.docid) - overlap
print(len(toadd))

1544

In [169]:
unified.set_index('docid', inplace = True)

In [170]:
def trimatitle(title):
    if '|' in title:
        title = title.split('|')[0]
    if ';' in title:
        title = title.split(';')[0]
    if ':' in title:
        title = title.split(':')[0]
    
    if len(title) > 28:
        title = title[0:28]
    
    return title

ctr = 0
allmatches = []
pairings = []
alreadytaken = set()

for idx in toadd:
    if idx in alreadytaken:
        continue
    origauth = unified.loc[idx, 'author']  
    normname = origauth.lower()
    
    origtitle = unified.loc[idx, 'title']
    title = trimatitle(origtitle.lower())
    
    code = normname[0:2]
    
    possiblematches = []
    
    recordid = unified.loc[idx, 'recordid']
    if pd.isnull(recordid):
        toreplacedf = unified.loc[(unified.author == origauth) & (unified.title == origtitle), : ]
    else:
        toreplacedf = unified.loc[unified.recordid == recordid, : ]
    
    docstotake = toreplacedf.index.tolist()
        
    origvolcount = len(docstotake)
    
    if code in block_dictionary:
        block = block_dictionary[code]
        for idx2, row2 in block.iterrows():
            auth2match = row2['author'].lower()
            if '(' in auth2match:
                auth2match = auth2match.split('(')[0]
            authsimilarity = fuzzymatch(normname, auth2match)
            if authsimilarity < 0.74: 
                continue
            
            title2match = row2['shorttitle']
            if pd.isnull(title2match):
                title2match = 'x x x'
            else:
                title2match = trimatitle(title2match)
                
            titlesimilarity = fuzzymatch(title, title2match)
            if titlesimilarity > 0.74:
                possiblematches.append((authsimilarity * titlesimilarity, idx2))

    if len(possiblematches) > 0:
        possiblematches.sort()
        probability, matchidx = possiblematches[-1]
        newrecordid = block.loc[matchidx, 'recordid']
        replacementdf = block.loc[block.recordid == newrecordid, :]
        pairings.append((docstotake, replacementdf))
        for d in docstotake:
            alreadytaken.add(d)
        matchvolcount = len(replacementdf.author)
        
        print(normname, ' | ', title, block.loc[matchidx, 'author'], ' == ', block.loc[matchidx, 'shorttitle'], 
              origvolcount, ':', matchvolcount)
        allmatches.append((probability, matchidx, normname, title, 
                           block.loc[matchidx, 'author'], block.loc[matchidx, 'shorttitle']))
        ctr += 1
    else:
        continue

mathers, helen,  |  comin' thro' the rye Mathers, Helen  ==  Comin' thro' the rye. A novel 2 : 1
yonge, charlotte m  |  beechcroft at rockstone Yonge, Charlotte M. (Charlotte Mary)  ==  Beechcroft at Rockstone 1 : 2
kavanagh, julia  |  seven years, and other tales Kavanagh, Julia  ==  Seven years, and other tales 1 : 2
chambers, robert w.  |  the common law Chambers, Robert W. (Robert William)  ==  The common law 1 : 1
ward, mary augusta  |  eleanor Ward, Mary Augusta  ==  Eleanor 1 : 1
smart, hawley  |  tie and trick Smart, Hawley  ==  Tie and trick 1 : 1
mallock, w. h  |  the heart of life Mallock, W. H. (William Hurrell)  ==  The heart of life 2 : 1
reid, mayne  |  andrew deverel Reid, Mayne  ==  Andrew Deverel; 1 : 2
russell, william clark  |  marooned Russell, William Clark  ==  Marooned; a sea tale 3 : 1
aÃ¯dÃ©, hamilton  |  poet and peer AÃ¯dÃ©, Hamilton  ==  Poet and peer 3 : 1
tarkington, booth,  |  the two vanrevels Tarkington, Booth  ==  The two Vanrevels 2 : 1
warburton, eliot  |  reginald hastings Warburton, Eliot  ==  Reginald Hastings 1 : 3
wells, h. g  |  men like gods Wells, H. G. (Herbert George)  ==  Men like gods; a novel 1 : 1
lytton, edward bulwer lytton,  |  pelham, or, the adventures o Lytton, Edward Bulwer Lytton, Baron  ==  Pelham, or adventures of a gentleman 1 : 1
churchill, winston, sir  |  the crossing Churchill, Winston, Sir  ==  The crossing 1 : 1
welty, eudora  |  the wide net and other stori Welty, Eudora  ==  The wide net, and other stories 1 : 1
norris, frank,  |  the pit Norris, Frank  ==  The pit : a story of Chicago 1 : 1
churchill, winston,  |  a far country Churchill, Winston, Sir  ==  A far country 1 : 1
craik, dinah maria mulock,  |  john halifax, gentleman Craik, Dinah Maria (Mulock), Mrs  ==  John Halifax, gentleman 1 : 1
grey, zane,  |  the lone star ranger Grey, Zane  ==  The Lone Star ranger; 2 : 1
luke, jemima thompson  |  the female jesuit Luke, Jemima (Thompson)  ==  The female Jesuit; or, The spy in the family 1 : 1
collins, wilkie,  |  the woman in white Collins, Wilkie  ==  The woman in white 1 : 2
wolfe, thomas  |  of time and the river Wolfe, Thomas  ==  Of time and the river; a legend of man's hunger in his youth 2 : 1
dickens, charles,  |  master humphrey's clock Dickens, Charles  ==  Master Humphrey's clock 1 : 1
stables, gordon  |  shireen and her friends Stables, Gordon  ==  Shireen and her friends; pages from the life of a Persian cat 1 : 1
morrison, arthur  |  a child of the jago Morrison, Arthur  ==  A child of the Jago 1 : 1
bullard, arthur  |  comrade yetta Bullard, Arthur  ==  Comrade Yetta 1 : 1
peppergrass, paul  |  shandy m'guire, or, tricks u Peppergrass, Paul  ==  Shandy M'Guire, or, Tricks upon travellers : being a story of the north of Ireland 1 : 1
davis, h. l  |  honey in the horn Davis, H. L. (Harold Lenoir)  ==  Honey in the horn 1 : 1
carr, alice vansittart (strettell)  |  margaret maliphant Carr, Alice Vansittart (Strettell)  ==  Margaret Maliphant 3 : 2
grant, james  |  philip rollo, or, the scotti Grant, James  ==  Philip Rollo, or, The Scottish musketeers 2 : 1
thackeray, william makepeace,  |  vanity fair Thackeray, William Makepeace  ==  Vanity Fair 1 : 1
lockhart, laurence w. m  |  mine is thine Lockhart, Laurence W. M  ==  Mine is thine 1 : 2
sinclair, may.  |  the tree of heaven Sinclair, May  ==  The tree of heaven 2 : 1
roe, edward payson  |  without a home Roe, Edward Payson  ==  Without a home 1 : 1
malet, lucas  |  colonel enderby's wife Malet, Lucas  ==  Colonel Enderby's wife 1 : 2
curwood, james oliver,  |  the valley of silent men Curwood, James Oliver  ==  The Valley of silent men; a story of the Three river country 1 : 1
dickens, charles  |  great expectations Dickens, Charles  ==  Great expectations 3 : 1
francis, francis  |  newton dogvane Francis, Francis  ==  Newton Dogvane 3 : 2
armstrong, f. c  |  our blue jackets, afloat and Armstrong, F. C  ==  Our blue jackets, afloat and ashore 1 : 2
morrow, honorÃ©  |  great captain  Morrow, HonorÃ©  ==  Great captain : three Lincoln novels 1 : 1
sawyer, caroline m  |  the merchant's widow Sawyer, Caroline M. (Caroline Mehetabel)  ==  The merchant's widow, and other tales 1 : 1
wells, h. g  |  the wonderful visit Wells, H. G. (Herbert George)  ==  The wonderful visit 1 : 1
de fonblanque, albany  |  bad luck De Fonblanque, Albany  ==  Bad luck 1 : 3
winthrop, theodore  |  cecil dreeme Winthrop, Theodore  ==  Cecil Dreeme 1 : 1
linskill, mary  |  in exchange for a soul Linskill, Mary  ==  In exchange for a soul; 1 : 1
jameson, storm  |  three kingdoms Jameson, Storm  ==  Three kingdoms 1 : 1
dickens, charles,  |  our mutual friend Dickens, Charles  ==  Our mutual friend 1 : 1
turgenev, ivan sergeevich  |  the brigadier Turgenev, Ivan Sergiï¸ eï¸¡evÃ­ch  ==  The brigadier 1 : 1
mitchell, john ames  |  the pines of lory Mitchell, John Ames  ==  The pines of Lory 1 : 1
edgeworth, maria,  |  belinda Edgeworth, Maria  ==  Belinda 1 : 6
yates, edmund hodgson  |  land at last Yates, Edmund Hodgson  ==  Land at last 3 : 2
conrad, joseph  |  the secret agent Conrad, Joseph  ==  The secret agent 1 : 1
dumas, alexandre,  |  the three musketeers Dumas, Alexandre  ==  The three musketeers 1 : 1
lever, charles james  |  the bramleighs of bishop's f Lever, Charles James  ==  The Bramleighs of Bishop's Folly 3 : 3
hewlett, maurice  |  the life and death of richar Hewlett, Maurice Henry  ==  The life and death of Richard Yea-and-Nay 1 : 1
corelli, marie,  |  a romance of two worlds Corelli, Marie  ==  A romance of two worlds 1 : 1
johnston, mary  |  sir mortimer Johnston, Mary  ==  Sir Mortimer : a novel 1 : 1
tytler, sarah  |  days of yore Tytler, Sarah  ==  Days of yore 1 : 1
taylor, meadows  |  tara Taylor, Meadows  ==  Tara 3 : 1
glasgow, ellen anderson gholson,  |  life and gabriella Glasgow, Ellen Anderson Gholson  ==  Life and Gabriella; the story of a woman's courage 1 : 1
mitchell, donald grant  |  dream life Mitchell, Donald Grant  ==  Dream life: a fable of the seasons 1 : 1
abbott, eleanor hallowell,  |  molly make-believe Abbott, Eleanor Hallowell  ==  Molly make-believe 1 : 1
wharton, edith  |  the greater inclination Wharton, Edith  ==  The greater inclination 1 : 1
smith, francis hopkinson,  |  tom grogan Smith, Francis Hopkinson  ==  Tom Grogan 1 : 1
james, henry  |  the wings of the dove James, Henry  ==  The wings of the dove 1 : 1
marsh-caldwell, anne  |  castle avon Marsh-Caldwell, Anne  ==  Castle Avon 3 : 2
besant, walter  |  children of gibeon Besant, Walter, Sir  ==  Children of Gibeon 3 : 2
bain, f. w  |  dmitri Bain, F. W. (Francis William)  ==  Dmitri : a romance of old Russia 1 : 1
warfield, catherine ann ware  |  the household of bouverie Warfield, Catherine Ann (Catherine Ann Ware)  ==  The household of Bouverie : or, the elixir of gold 1 : 2
allardyce, alexander  |  the city of sunshine Allardyce, Alexander  ==  The city of sunshine 3 : 2
tarkington, booth  |  the fascinating stranger Tarkington, Booth  ==  The fascinating stranger : an other stories 1 : 1
lyall, edna  |  we two Lyall, Edna  ==  We two 3 : 2
cozzens, james gould  |  the last adam Cozzens, James Gould  ==  The last Adam 1 : 1
besant, walter,  |  the golden butterfly Besant, Walter, Sir  ==  The golden butterfly 1 : 1
eliot, george  |  middlemarch Eliot, George  ==  Middlemarch 8 : 3
derleth, august william  |  restless is the river /  Derleth, August William  ==  Restless is the river 1 : 1
burnett, frances hodgson,  |  the shuttle Burnett, Frances (Hodgson)  ==  The shuttle 1 : 1
michelson, miriam,  |  in the bishop's carriage Michelson, Miriam  ==  In the bishop's carriage 2 : 1
whyte-melville, g. j  |  cerise Whyte-Melville, G. J. (George John)  ==  Cerise 1 : 3
christie-murray, david  |  a life's atonement Christie-Murray, David  ==  A life's atonement 1 : 1
conrad, joseph  |  the arrow of gold Conrad, Joseph  ==  The arrow of gold : a story between two notes 1 : 1
mccutcheon, george barr,  |  nedra McCutcheon, George Barr  ==  Nedra 1 : 1
saunders, john  |  guy waterman Saunders, John  ==  Guy Waterman 1 : 2
howe, mary a  |  the rival volunteers Howe, Mary A  ==  The rival volunteers; or, The black plume rifles 1 : 1

lathrop, george parsons  |  in the distance Lathrop, George Parsons, 1851-1898  ==  In the distance; an American story 1 : 1
tytler, sarah  |  saint mung's city Tytler, Sarah  ==  Saint Mung's city 1 : 1
dickens, charles,  |  a tale of two cities Dickens, Charles  ==  A tale of two cities 1 : 2
greene, graham  |  the power and the glory Greene, Graham  ==  The power and the glory 1 : 1
stowe, harriet beecher  |  dred Stowe, Harriet Beecher  ==  Dred; a tale of the great Dismal Swamp 1 : 1
dell, ethel m.  |  the bars of iron Dell, Ethel May  ==  The bars of iron 1 : 1
grey, zane  |  under the tonto rim,  Grey, Zane  ==  Under the Tonto Rim 1 : 1
norris, kathleen thompson,  |  the heart of rachael Norris, Kathleen Thompson  ==  The heart of Rachael 1 : 1
stratton-porter, gene,  |  laddie Stratton-Porter, Gene  ==  Laddie 1 : 1
murray, charles augustus  |  the trapper's bride Murray, Charles Augustus, Sir  ==  The trapper's bride : or, Spirit of adventure 1 : 1
crawford, f. marion  |  cecilia Crawford, F. Marion (Francis Marion)  ==  Cecilia; 1 : 1
dickinson, anna e  |  what answer? Dickinson, Anna E. (Anna Elizabeth)  ==  What answer? 1 : 1
park, ruth  |  the harp in the south. Park, Ruth  ==  Harp in the South 1 : 1
scott, walter,  |  waverley Scott, Walter, Sir  ==  Waverley 1 : 6
warden, florence  |  a prince of darkness Warden, Florence  ==  A prince of darkness 1 : 2
mckinnon, william charles  |  st. george McKinnon, William Charles  ==  St. George; or, The Canadian league 1 : 1
harte, bret  |  the luck of roaring camp  Harte, Bret  ==  The luck of Roaring Camp : and other sketches 1 : 1
sheppard, elizabeth sara  |  counterparts, or, the cross  Sheppard, Elizabeth Sara  ==  Counterparts, or, The cross of love 1 : 1
barry, william francis  |  the new antigone Barry, William Francis  ==  The new Antigone 3 : 1
ouida  |  othmar Ouida  ==  Othmar 3 : 2
bacheller, irving,  |  eben holden Bacheller, Irving Addison  ==  Eben Holden; 1 : 1
hamley, edward bruce  |  lady lee's widowhood Hamley, Edward Bruce, Sir  ==  Lady Lee's widowhood 1 : 1
dixon, thomas  |  the one woman Dixon, Thomas  ==  The one woman : a story of modern Utopia 1 : 1
fallada, hans  |  an old heart goes a journeyi Fallada, Hans  ==  An old heart goes a journeying 1 : 1
garnett, david  |  lady into fox Garnett, David  ==  Lady into fox ; A man in the zoo 1 : 1
black, william  |  madcap violet Black, William  ==  Madcap violet : a novel 3 : 1
bothmer, marie  |  strong hands and steadfast h Bothmer, Marie  ==  Strong hands and steadfast hearts 1 : 1
gerard, e  |  beggar my neighbor Gerard, E. (Emily)  ==  Beggar my neighbor 3 : 1
mccutcheon, george barr  |  graustark McCutcheon, George Barr  ==  Graustark : the story of a love behind a throne 1 : 1
maniates, belle kanaris  |  david dunne Maniates, Belle Kanaris  ==  David Dunne; 1 : 1
catherwood, mary hartwell  |  the white islander Catherwood, Mary Hartwell  ==  The white islander 1 : 1
macdonald, george  |  robert falconer MacDonald, George  ==  Robert Falconer 3 : 2
evans, augusta j  |  macaria Evans, Augusta J. (Augusta Jane)  ==  Macaria; or, Altars of sacrifice 1 : 1
mccutcheon, george barr,  |  the daughter of anderson cro McCutcheon, George Barr  ==  The daughter of Anderson Crow 2 : 1
cooke, john esten  |  the virginia bohemians Cooke, John Esten  ==  The Virginia Bohemians; 1 : 1
capes, j. m  |  the mosaic-worker's daughter Capes, J. M  ==  The mosaic-worker's daughter 1 : 1
harte, bret  |  in the carquinez woods Harte, Bret  ==  In the Carquinez woods ; On the frontier ; By shore and sedge 1 : 1
johnson, owen,  |  the salamander Johnson, Owen  ==  The salamander 2 : 1
lawrence, george alfred  |  guy livingstone Lawrence, George Alfred  ==  Guy Livingstone 1 : 1
black, william  |  sabina zembra Black, William  ==  Sabina Zembra 2 : 1
barlow, jane  |  the founding of fortunes Barlow, Jane  ==  The founding of fortunes 1 : 1
green, julian  |  the closed garden Green, Julien  ==  The Closed garden 1 : 1
foote, mary hallock  |  the desert and the sown Foote, Mary (Hallock), Mrs  ==  The desert and the sown 1 : 1
droz, gustave  |  around a spring Droz, Gustave  ==  Around a spring 1 : 1
james, henry  |  the portrait of a lady James, Henry  ==  The portrait of a lady 1 : 1
craik, dinah maria mulock  |  the head of the family Craik, Dinah Maria (Mulock), Mrs  ==  The head of the family 3 : 1
gibson, charles b  |  the last earl of desmond Gibson, Charles B. (Charles Bernard)  ==  The last earl of Desmond: a historical romance of 1599-1603 2 : 1
brooks, shirley  |  aspen court Brooks, Shirley  ==  Aspen court; a story of our own time 3 : 2
stephens, ann s  |  high life in new york Stephens, Ann S. (Ann Sophia)  ==  High life in New York 1 : 1
taylor, bayard  |  john godfrey's fortunes Taylor, Bayard  ==  John Godfrey's fortunes; related by himself 1 : 1
cholmondeley, mary,  |  red pottage Cholmondeley, Mary  ==  Red pottage 1 : 1
ward, mary augusta  |  robert elsmere Ward, Mary Augusta  ==  Robert Elsmere 1 : 1
keary, annie  |  a doubting heart Keary, Annie  ==  A doubting heart 3 : 2
bowen, elizabeth  |  the heat of the day Bowen, Elizabeth  ==  The heat of the day 1 : 1
yonge, charlotte m  |  the heir of redclyffe Yonge, Charlotte M. (Charlotte Mary)  ==  The heir of Redclyffe 1 : 1
hughes, thomas  |  tom brown at oxford Hughes, Thomas  ==  Tom Brown at Oxford; a sequel to School days at Rugby 1 : 1
dickens, charles  |  little dorrit Dickens, Charles  ==  Little Dorrit 1 : 1
churchill, winston,  |  mr. crewe's career Churchill, Winston, Sir  ==  Mr. Crewe's career 1 : 1
blasco ibÃ¡Ã±ez, vicente  |  the temptress (la tierra de  Blasco IbÃ¡Ã±ez, Vicente  ==  The temptress (La tierra de todos) 1 : 1
guernsey, lucy ellen  |  oldham Guernsey, Lucy Ellen  ==  Oldham 1 : 1
collins, a. maria  |  mrs. ben darby Collins, A. Maria  ==  Mrs. Ben Darby 1 : 1
reid, christian  |  a daughter of bohemia Reid, Christian  ==  A daughter of Bohemia; a novel 1 : 1
walford, lucy bethia  |  troublesome daughters Walford, Lucy Bethia  ==  Troublesome daughters 3 : 2
foxton, e  |  herman, or, young knighthood Foxton, E  ==  Herman, or, Young knighthood 2 : 1
rowcroft, charles  |  the australian crusoes Rowcroft, Charles  ==  The Australian Crusoes; or, The adventures of an English settler and his family in the wilds of Australia 1 : 1
gibbon, charles  |  robin gray Gibbon, Charles  ==  Robin Gray 3 : 1
birkmaier, elizabeth g  |  poseidon's paradise Birkmaier, Elizabeth G  ==  Poseidon's paradise : the romance of Atlantis 1 : 1
pomeroy, mark m  |  brick-dust Pomeroy, Mark M  ==  Brick-dust 1 : 1
surr, t. s.  |  a winter in london Surr, T. S. (Thomas Skinner)  ==  A winter in London; or, Sketches of fashion : a novel 1 : 3
le fanu, joseph sheridan  |  uncle silas Le Fanu, Joseph Sheridan  ==  Uncle Silas 3 : 2
thurber, james  |  the thurber carnival Thurber, James  ==  The Thurber carnival, written and illustrated by James Thurber 1 : 1
warner, susan  |  the old helmet Warner, Susan  ==  The old helmet 2 : 2
james, henry  |  the golden bowl James, Henry  ==  The golden bowl 1 : 1
blanchard, kenneth h  |  putting the one minute manag Blanchard, Kenneth H  ==  The one minute manager 1 : 1
minster, annie maria  |  glenelvan Minster, Annie Maria  ==  Glenelvan; or, The morning draweth nigh 1 : 1
mccarthy, justin  |  my enemy's daughter McCarthy, Justin  ==  My enemy's daughter 3 : 2
hawthorne, nathaniel  |  the marble faun, or, the rom Hawthorne, Nathaniel  ==  The marble faun or, The romance of Monte Beni 2 : 1
reade, charles,  |  the cloister and the hearth Reade, Charles  ==  The cloister & the hearth; or, Maid, wife, and widow. A matter-of-fact romance 1 : 1
dickens, charles,  |  bleak house Dickens, Charles  ==  Bleak house 1 : 2
dickens, charles,  |  the mystery of edwin drood Dickens, Charles  ==  Mystery of Edwin Drood 1 : 6
watson, william davy  |  trevethlan Watson, William Davy  ==  Trevethlan 1 : 3
cornwallis, kinahan  |  wreck and ruin Cornwallis, Kinahan  ==  Wreck and ruin: or, Modern society 1 : 1
reade, compton  |  rose and rue Reade, Compton  ==  Rose and Rue 1 : 1
hewlett, maurice,  |  the life and death of richar Hewlett, Maurice Henry  ==  The life and death of Richard Yea-and-Nay 1 : 1

crawford, f. marion  |  to leeward Crawford, F. Marion (Francis Marion)  ==  To leeward 2 : 1
meredith, george  |  the adventures of harry rich Meredith, George  ==  The adventures of Harry Richmond 1 : 2
major, charles  |  when knighthood was in flowe Major, Charles  ==  When knighthood was in flower; or, The love story of Charles Brandon and Mary Tudor, the king's sister, and happening in the reign of ... Henry VIII; 1 : 1
du boisgobey, fortunÃ©  |  sensational novels Du Boisgobey, Fortune  ==  Sensational novels 1 : 8
dickens, charles,  |  martin chuzzlewit Dickens, Charles  ==  Martin Chuzzlewit 1 : 1
lowndes, hannah maria jones  |  katharine bereford Lowndes, Hannah Maria Jones  ==  Katharine Bereford; or, The shade and sunshine of woman's life. A romantic story 1 : 1
barr, amelia edith huddleston  |  the lost silver of briffault Barr, Amelia Edith Huddleston  ==  The lost silver of Briffault 1 : 1
wiggin, kate douglas smith,  |  rebecca of sunnybrook farm Wiggin, Kate Douglas Smith  ==  Rebecca of Sunnybrook farm 1 : 1
payn, james  |  the best of husbands Payn, James  ==  The best of husbands 1 : 2
hardy, thomas  |  tess of the d'urbervilles Hardy, Thomas  ==  Tess of the D'Urbervilles; a pure woman faithfully presented 3 : 1
whitney, a. d. t  |  bonnyborough Whitney, A. D. T. (Adeline Dutton Train)  ==  Bonnyborough 1 : 1
thompson, daniel p  |  may martin, and other tales  Thompson, Daniel P. (Daniel Pierce)  ==  May Martin, and other tales of the Green Mountains 1 : 1
godden, rumer  |  black narcissus Godden, Rumer  ==  Black narcissus 1 : 1
kirkus, william  |  only to be married Kirkus, William  ==  Only to be married 1 : 2
coffin, charles carleton  |  winning his way Coffin, Charles Carleton  ==  Winning his way 1 : 1
harwood, john berwick  |  lady livingston's legacy Harwood, John Berwick  ==  Lady Livingston's legacy : a novel 1 : 1
dickens, charles,  |  dombey and son Dickens, Charles  ==  Dombey and son 1 : 1
tarkington, booth  |  the plutocrat Tarkington, Booth  ==  The plutocrat; a novel 1 : 1
sala, george augustus  |  quite alone Sala, George Augustus  ==  Quite alone 1 : 2
macdonald, george  |  malcolm MacDonald, George  ==  Malcolm 3 : 2
newall, john  |  nature's nobility Newall, John  ==  Nature's nobility 1 : 2
warren, samuel,  |  ten thousand a year Warren, Samuel  ==  Ten thousand a-year 1 : 1
irving, john treat  |  harry harson, or, the benevo Irving, John Treat  ==  Harry Harson, or, The benevolent bachelor 1 : 1
walpole, hugh  |  the sea tower Walpole, Hugh, Sir  ==  The sea tower 1 : 1
holtby, winifred  |  south riding Holtby, Winifred  ==  South riding : an English landscape 1 : 1
broughton, rhoda  |  second thoughts Broughton, Rhoda  ==  Second thoughts 2 : 1
stern, g. b  |  debonair Stern, G. B. (Gladys Bronwyn)  ==  Debonair; the story of Persephone 1 : 1
stevenson, robert louis,  |  treasure island Stevenson, Robert Louis  ==  Treasure Island; Strange case of Dr. Jekyll and Mr. Hyde 1 : 1
murray, eustace clare grenville  |  the member for paris Murray, Eustace Clare Grenville  ==  The member for Paris 1 : 2
dickens, charles,  |  the works of charles dickens Dickens, Charles  ==  The works of Charles Dickens 1 : 1
norris, frank  |  vandover and the brute Norris, Frank  ==  Vandover and the brute 1 : 1
sinclair, upton  |  sylvia Sinclair, Upton  ==  Sylvia : a novel 1 : 1
yonge, charlotte m  |  magnum bonum, or mother care Yonge, Charlotte M. (Charlotte Mary)  ==  Magnum bonum, or Mother Carey's brood 1 : 1
shorthouse, j. h  |  john inglesant Shorthouse, J. H. (Joseph Henry)  ==  John Inglesant; 1 : 1
rowson, mrs  |  charlotte temple Rowson, Mrs  ==  Charlotte Temple : a tale of truth 1 : 1
scott, walter,  |  guy mannering Scott, Walter, Sir  ==  Guy Mannering 1 : 6
harte, bret  |  the luck of roaring camp Harte, Bret  ==  The luck of Roaring Camp : and other sketches 1 : 1
fane, violet  |  thro' love and war Fane, Violet  ==  Thro' love and war 1 : 2
jackson, helen hunt  |  ramona Jackson, Helen Hunt  ==  Ramona; a story 1 : 1
solly, henry  |  gerald and his friend the do Solly, Henry  ==  Gerald and his friend the doctor 1 : 1
middlemass, jean  |  sackcloth and broadcloth Middlemass, Jean  ==  Sackcloth and broadcloth 1 : 1
drury, anna h  |  deep waters Drury, Anna Harriet  ==  Deep waters 1 : 2
orwell, george  |  animal farm Orwell, George  ==  Animal farm : a fairy story 1 : 1
barrowcliffe, a. j  |  trust for trust Barrowcliffe, A. J  ==  Trust for trust 1 : 1
eliot, george  |  adam bede Eliot, George  ==  Adam Bede 1 : 3
norris, w. e  |  a bachelor's blunder Norris, W. E. (William Edward)  ==  A bachelor's blunder 3 : 2
montgomery, florence  |  seaforth Montgomery, Florence  ==  Seaforth 1 : 2
diehl, alice m  |  the knave of hearts Diehl, Alice M. (Alice Mangold)  ==  The knave of hearts : a novel 1 : 1
steinbeck, john  |  the moon is down Steinbeck, John  ==  The moon is down : a novel 1 : 1
smith, lillian eugenia  |  strange fruit,  Smith, Lillian Eugenia  ==  Strange fruit, a novel 1 : 1
borrow, george henry  |  lavengro Borrow, George Henry  ==  Lavengro; 3 : 3
wiggin, kate douglas smith  |  rebecca of sunnybrook farm Wiggin, Kate Douglas Smith  ==  Rebecca of Sunnybrook farm 1 : 1
castlemon, harry  |  frank on the lower mississip Castlemon, Harry  ==  Frank on the lower Mississippi 1 : 1
robins, elizabeth  |  the convert Robins, Elizabeth  ==  The convert 1 : 1
veitch, sophie f. f  |  wise as a serpent Veitch, Sophie F. F  ==  Wise as a serpent 1 : 1
stevenson, robert louis  |  the merry men Stevenson, Robert Louis  ==  The merry men; Strange case of Dr. Jekyll and Mr. Hyde; Prince Otto 1 : 2
barrie, j. m  |  the little minister Barrie, J. M. (James Matthew)  ==  The little minister 3 : 1
west, rebecca  |  the return of the soldier West, Rebecca, Dame  ==  The return of the soldier 1 : 1
hough, emerson,  |  the mississippi bubble Hough, Emerson  ==  The Mississippi bubble 1 : 1
tourgÃ©e, albion winegar  |  figs and thistles TourgÃ©e, Albion Winegar  ==  Figs and thistles: 1 : 1
conrad, joseph,  |  the arrow of gold Conrad, Joseph  ==  The arrow of gold : a story between two notes 1 : 1
braddon, m. e  |  only a clod, in three vols Braddon, M. E. (Mary Elizabeth)  ==  Only a clod, in three vols 3 : 1
glasgow, ellen anderson gholson  |  life and gabriella Glasgow, Ellen Anderson Gholson  ==  Life and Gabriella; the story of a woman's courage 1 : 1
stockton, frank richard,  |  the adventures of captain ho Stockton, Frank R. (Frank Richard)  ==  The adventures of Captain Horn 1 : 1
ingelow, jean  |  studies for stories Ingelow, Jean  ==  Studies for stories from girls' lives 1 : 1
james, g. p. r.  |  richelieu James, G. P. R. (George Payne Rainsford)  ==  Richelieu 1 : 2
stephens, robert neilson  |  an enemy to the king Stephens, Robert Neilson  ==  An enemy to the king; 1 : 1
long, catharine  |  the first lieutenant's story Long, Catharine, Lady  ==  The first lieutenant's story 1 : 1
fothergill, jessie  |  probation Fothergill, Jessie  ==  Probation : a novel 3 : 2
lander, meta  |  esperance Lander, Meta  ==  Esperance 1 : 1
russell, martha  |  stories of new england life, Russell, Martha  ==  Stories of New England life; 1 : 1
collins, norman  |  trinity town,  Collins, Norman  ==  Trinity town 1 : 1
dickens, charles,  |  the complete works of charle Dickens, Charles  ==  The complete works of Charles Dickens (in sixteen volumes) with photogravure and half tone illustrations from original designs 1 : 3
james, winifred  |  letters to my son James, Winifred Lewellin  ==  Letters to my son 1 : 1
stone, irving  |  love is eternal Stone, Irving  ==  Love is eternal; a novel about Mary Todd Lincoln and Abraham Lincoln 1 : 1
reynolds, george w. m  |  the mysteries of the court o Reynolds, George W. M. (George William MacArthur)  ==  The mysteries of the court of London 1 : 1
wallace, lew  |  the prince of india, or, why Wallace, Lew  ==  The prince of India, or, Why Constantinople fell 1 : 1
linton, e. lynn  |  under which lord? Linton, E. Lynn (Elizabeth Lynn)  ==  Under which Lord? 1 : 2
barbusse, henri,  |  under fire Barbusse, Henri  ==  Under fire; 1 : 1
veley, margaret  |  a garden of memories. mrs. a Veley, Margaret  ==  A garden of memories. Mrs. Austin. Lizzie's bargain 1 : 1

smith, constance  |  the repentance of paul wentw Smith, Constance  ==  The repentance of Paul Wentworth 1 : 1
maclaren, ian,  |  kate carnegie and those mini Maclaren, Ian  ==  Kate Carnegie and those ministers 1 : 1
croker, b. m  |  proper pride Croker, B. M. (Bithia Mary)  ==  Proper pride 1 : 1
newell, charles martin  |  kalani of oahu Newell, Charles Martin  ==  Kalani of Oahu 1 : 1
leavitt, john mcdowell  |  the american cardinal Leavitt, John McDowell  ==  The American cardinal 1 : 1
atherton, gertrude franklin horn,  |  the sisters-in-law Atherton, Gertrude Franklin Horn  ==  The sisters-in law; a novel of our time 1 : 1
steel, flora annie webster,  |  on the face of the waters Steel, Flora Annie Webster  ==  On the face of the waters; 1 : 1
fenn, george manville  |  sweet mace Fenn, George Manville  ==  Sweet mace : a Sussex legend of the iron times 1 : 2
st. john, james augustus  |  there and back again in sear St. John, James Augustus  ==  There and back again in search of beauty 2 : 1
philips, f. c  |  the dean and his daughter Philips, F. C  ==  The dean and his daughter 1 : 2
grey  |  the little beauty Grey  ==  The little beauty 1 : 1
praed, campbell  |  an australian heroine Praed, Campbell, Mrs  ==  An Australian heroline 1 : 1
lewis, wyndham  |  tarr Lewis, Wyndham  ==  Tarr 1 : 1
holley, marietta  |  samantha at saratoga Holley, Marietta  ==  Samantha at Saratoga 1 : 1
sedgwick, anne douglas  |  the rescue Sedgwick, Anne Douglas  ==  The rescue 1 : 1
locke, william john,  |  the fortunate youth Locke, William John  ==  The fortunate youth 1 : 1
anderson, sherwood  |  many marriages Anderson, Sherwood  ==  Many marriages 1 : 1
caldwell, erskine  |  georgia boy. Caldwell, Erskine  ==  Georgia boy 1 : 1
locke, william john,  |  the morals of marcus ordeyne Locke, William John  ==  The morals of Marcus Ordeyne; a novel 1 : 1
holyoke, hetty  |  blanche and her friends Holyoke, Hetty  ==  Blanche and her friends 1 : 1
byron, george gordon byron,  |  childe harold's pilgrimage Byron, George Gordon Byron  ==  Childe Harold's pilgrimage 1 : 1
ford, paul leicester,  |  janice meredith Ford, Paul Leicester  ==  Janice Meredith : a story of the American revolution 1 : 1

In [172]:
ctr

271

In [174]:
unified.reset_index(inplace = True)
newrows = []

for docstodel, replacementdf in pairings:
    frame2replace = unified.loc[unified.docid.isin(docstodel), : ]
    r = collapse_duplicates(frame2replace)
    lastcomplist = list(frame2replace.latestcomp.values)
    lastcomplist.extend(replacementdf.latestcomp.values)
    lastcomplist = [x for x in lastcomplist if not pd.isnull(x)]
    lastcomp = min(lastcomplist)
    r['latestcomp'] = lastcomp
    numrows = min(frame2replace.shape[0], replacementdf.shape[0])
    newdocids = replacementdf.docid.values
    for n in range(numrows):
        thisr = dict(r)
        thisr['docid'] = newdocids[n]
        newrows.append(thisr)
        
paired = pd.DataFrame(newrows)
paired.head()

,allcopiesofwork,author,bestseller,contrast4reviewed,copiesin25yrs,docid,earlyedition,firstpub,gender,heath,...,lastname,latestcomp,mostdiscussed,nationality,norton,nortonshort,preregistered,recordid,reviewed,title
0,NaN,"Mathers, Helen",True,True,NaN,nyp.33433034410732,NaN,1875.0,f,False,...,Mathers,1875.0,False,uk,False,False,False,7690510.0,False,Comin' thro' the rye
1,1.0,"Yonge, Charlotte M",False,True,1.0,uiuo.ark+=13960=t52f8d47f,True,1889.0,f,False,...,Yonge,1888.0,False,uk,False,False,False,9438764.0,False,Beechcroft at Rockstone
2,NaN,"Kavanagh, Julia",False,True,NaN,njp.32101068971058,NaN,1860.0,f,False,...,Kavanagh,1860.0,False,ir,False,False,False,9014927.0,False,"Seven years, and other tales"
3,1.0,"Chambers, Robert W.",True,False,1.0,uc2.ark+=13960=t3804zn8k,True,1911.0,NaN,False,...,Chambers,1911.0,False,NaN,False,False,False,778808.0,False,The Common law
4,NaN,"Ward, Mary Augusta",False,False,NaN,coo.31924013567106,NaN,1900.0,f,False,...,Ward,1900.0,False,uk,False,False,False,784781.0,True,Eleanor;

In [175]:
paired.shape

(295, 22)

In [176]:
len(alreadytaken)

358

In [177]:
print(unified.shape)
newunified = unified[~unified.docid.isin(alreadytaken)]
newunified.shape

(2118, 22)

(1760, 22)

In [178]:
newunified = pd.concat([newunified, paired])
newunified.shape

(2055, 22)

In [180]:
overlap = set(newunified.docid).intersection(set(therandomsample.docid))
print(len(overlap))

778

In [182]:
toadd = set(newunified.docid) - overlap
print(len(toadd))

1247

In [183]:
newunified.to_csv('second_supplement_maxoverlap.tsv', sep = '\t', index = False)