# Clean meta for supplement 1

In [1]:
import pandas as pd

In [7]:
meta = pd.read_csv('supplement1meta.tsv', sep = '\t')
meta.head()

,docid,actualdate,earliestdate,firstpub,tags,recordid,OCLC,author,enumcron,title,gender,nationality,authsvols
0,uc2.ark+=13960=t55d8p14j,1854.0,1843,1843.0,vulgar,NaN,NaN,"Stephens, Ann S",NaN,High life in New York,f,us,47.0
1,nyp.33433075741789,1852.0,1845,1845.0,vulgar,NaN,NaN,"Reynolds, George W. M",NaN,The mysteries of the court of London,m,uk,61.0
2,uc1.b249620,1853.0,1848,1848.0,vulgar,NaN,NaN,"Peppergrass, Paul",NaN,"Shandy M'Guire, or, Tricks upon travellers : b...",m,ir,4.0
3,njp.32101073308494,1852.0,1849,1849.0,vulgar,NaN,NaN,"Manning, Anne",NaN,"The maiden & married life of Mary Powell, afte...",f,uk,66.0
4,uc2.ark+=13960=t4wh2fh9b,1850.0,1850,1850.0,vulgar,NaN,NaN,"Leighton, John",NaN,Christmas comes but once a year,m,uk,2.0

Only keep certain columns.

In [9]:
new = meta[['docid', 'earliestdate', 'actualdate', 'tags', 'author', 'title', 'gender', 'nationality', 'authsvols']]

Create a column for lastname only.

In [11]:
def full2last(name):
    global ctr
    if pd.isnull(name):
        return 'anonymous'
    names = name.split()
    last = names[0].strip(', .[]()-')
    if len(last) > 1:
        return last
    else:
        ctr += 1
        return "anonymous" + '_' + last
    
ctr = 0
new = new.assign(lastname = new.author.map(full2last))
print(ctr)
new.head()

2

,docid,earliestdate,actualdate,tags,author,title,gender,nationality,authsvols,lastname
0,uc2.ark+=13960=t55d8p14j,1843,1854.0,vulgar,"Stephens, Ann S",High life in New York,f,us,47.0,Stephens
1,nyp.33433075741789,1845,1852.0,vulgar,"Reynolds, George W. M",The mysteries of the court of London,m,uk,61.0,Reynolds
2,uc1.b249620,1848,1853.0,vulgar,"Peppergrass, Paul","Shandy M'Guire, or, Tricks upon travellers : b...",m,ir,4.0,Peppergrass
3,njp.32101073308494,1849,1852.0,vulgar,"Manning, Anne","The maiden & married life of Mary Powell, afte...",f,uk,66.0,Manning
4,uc2.ark+=13960=t4wh2fh9b,1850,1850.0,vulgar,"Leighton, John",Christmas comes but once a year,m,uk,2.0,Leighton

Drop rows with duplicate docids. By default this will keep the first occurrence, which is the behavior we want, since we want to keep the metadata from prestigeficmeta.

In [13]:
print(new.shape)
new.drop_duplicates(subset = ['docid'], inplace = True)
new.shape

(1269, 10)

(1265, 10)

In [15]:
new.to_csv('editedsupplement1meta.tsv', sep = '\t', index = False)

If we intend to use **lastname** to exclude records from comparison, then we also need a version of filteredsample with that column.

In [16]:
fs = pd.read_csv('../meta/filteredsample.tsv', sep = '\t')

In [19]:
def full2last(name):
    global ctr
    if pd.isnull(name):
        return 'anonymous'
    names = name.split()
    last = names[0].strip(', .[]()-')
    if len(last) > 1:
        return last
    else:
        ctr += 1
        return "anonymous" + '_' + last

ctr = 0
fs = fs.assign(lastname = fs.author.map(full2last))
print(ctr)
fs.head()

82

,docid,oldauthor,author,authordate,inferreddate,latestcomp,datetype,startdate,enddate,imprint,...,copiesin25yrs,enumcron,volnum,title,parttitle,earlyedition,shorttitle,eligible,position,lastname
0,hvd.hwtqwj,NaN,NaN,NaN,1800,1800,s,1800,,Shrewsbury;Printed by J. and W. Eddowes for T....,...,1,NaN,NaN,"Tales, anecdotes, and letters / | $c: Translat...",NaN,True,"Tales, anecdotes, and letters",True,0,anonymous
1,nyp.33433075724116,"Schiller, Friedrich","Schiller, Friedrich",1759-1805.,1800,1800,s,1800,,London;C. Wittington;1800.,...,4,v. 3,3.0,"The Armenian; or, The ghost seer ... | $c: tra...",NaN,True,"The Armenian; or, The ghost seer",True,1,Schiller
2,nyp.33433075724090,"Schiller, Friedrich","Schiller, Friedrich",1759-1805.,1800,1800,s,1800,,London;C. Wittington;1800.,...,4,v. 1,1.0,"The Armenian; or, The ghost seer ... | $c: tra...",NaN,True,"The Armenian; or, The ghost seer",True,2,Schiller
3,uiuo.ark+=13960=t8pc3pr08,Fuller,Fuller,NaN,1800,1800,s,1800,,London;Printed for G.G. and J. Robinson;1800.,...,2,v.2,2.0,The son of Ethelwolf,NaN,True,The son of Ethelwolf,True,3,Fuller
4,uiuo.ark+=13960=t9572451c,Croffts,Croffts,NaN,1800,1800,s,1800,,"London;Printed at the Minerva=Press, for Willi...",...,4,v.1,1.0,Ankerwick Castle,NaN,True,Ankerwick Castle,True,4,Croffts

In [20]:
fs.to_csv('../meta/lastnamesample.tsv', sep = '\t', index = False)